# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- Creating 1 column table
- Evaluating arithematic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. GGplot
3. Pandas

|Data Science Tools|
|------------|
|Rstudio|
|Jupyter Notebook|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Tanmay Agarwal